<mat-toolbar color="primary">
  <span>CRUD</span>
  <span class="toolbar-spacer"></span>
  <span class="toolbar-balance"
    >Balance: {{ ("" + balance.toFixed(2)).replace(".", ",")
    }}<img class="toolbar-balance__coin" src="assets/svg/coin.svg" alt=""
  /></span>
</mat-toolbar>
<div class="container">
  <div class="item-list">
    <div class="item-list__create-new">
      <button (click)="createCampaign()" mat-raised-button color="primary">
        Create new campaign
      </button>
    </div>
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let campaign of campaigns; trackBy: trackCampaign"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-chip color="primary" class="item-list__chip">{{
              campaign.status ? "On" : "Off"
            }}</mat-chip
            ><span>{{ campaign.name }}</span></mat-panel-title
          >
          <mat-panel-description>
            <div class="mat-expansion-panel-description-button-row">
              <button
                mat-stroked-button
                (click)="editCampaign($event, campaign.id)"
              >
                Edit
              </button>
              <button
                mat-stroked-button
                color="warn"
                (click)="deleteCampaign($event, campaign.id)"
              >
                Delete
              </button>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="info-bits">
          <app-info-bit
            name="Bid amount"
            value="{{ campaign.bidAmount.toFixed(2) }}"
            [showCoin]="true"
          ></app-info-bit>
          <app-info-bit
            name="Campaign fund"
            value="{{ campaign.fund.toFixed(2) }}"
            [showCoin]="true"
          ></app-info-bit>
          <app-info-bit
            name="Radius"
            value="{{ campaign.radius.toFixed(1) + ' km' }}"
          ></app-info-bit>
          <app-info-bit
            *ngIf="campaign.town.length > 0"
            name="Town"
            value="{{ campaign.town }}"
          ></app-info-bit>
        </div>
        <div class="chip-list">
          <mat-chip-list aria-label="keywords">
            <mat-chip *ngFor="let keyword of campaign.keywords">{{
              keyword
            }}</mat-chip>
          </mat-chip-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
